.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas
{
    box-shadow:5px 5px 5px grey ;
    border-radius: 10px;
}
#amphibian
{
    margin-top: 50px;
    box-shadow: 5px 5px 5px grey;

}
#bird
{
    margin-top: 50px;
    box-shadow: 5px 5px 5px grey;
}
#animal
{
    box-shadow: 5px 5px 5px grey;
}